# 네이버 영화평 감성분석

- TfidfTransformer

In [2]:
import numpy as np
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')

In [3]:
train_df = pd.read_csv('data/never_movie_tran.tsv', sep='\t')
test_df = pd.read_csv('data/never_movie_tran.tsv', sep='\t')
train_df.head()

        id                                   document  label
0  6270596                                        굳 ㅋ      1
1  8544678           뭐야 이 평점들은 나쁘진 않지만 점 짜리는 더더욱 아니잖아      0
2  6825595                  지루하지는 않은데 완전 막장임 돈주고 보기에는      0
3  6723715  만 아니었어도 별 다섯 개 줬을텐데 왜 로 나와서 제 심기를 불편하게 하죠      0
4  7898805                          음악이 주가 된 최고의 음악영화      1

Tokenizer 함수 정의

In [4]:
from konlpy.tag import Okt
okt = Okt()

In [5]:
stop_text = '은 는 이 가 을 를 의 에게 에 들 좀 잘 과 도 으로 자 와 ㅋㅋ ㅠㅠ ㅎㅎ'
stopwords = stop_text.split()

In [6]:
def okt_tokenizer(text):
    morphs = okt.morphs(text, stem=True)
    tokens = [word for word in morphs if word not in stopwords]
    return tokens

- TfidfVectorizer로 변환

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer

tvect = TfidfVectorizer(
    tokenizer=okt_tokenizer, ngram_range=(1,2), max_df=0.9
)

In [8]:
%time tvect.fit(train_df.document)

In [ ]:
%time X_test_tv = tvect.transform(test_df.document)

NameError: name 'tvect' is not defined

In [ ]:
%time X_test_tv = tvect.transform(test_df.document)

Wall time: 1min 12s

In [ ]:
y_train = train_df.label.values 
y_test = test_df.label.values

Naive Bayes 분류기

In [ ]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
nb.get_params()

{'alpha': 1.0, 'class_prior': None, 'fit_prior': True}

In [ ]:
nb.fit(X_train_tv, y_train)

MultinomialNB()

In [ ]:
nb.score(X_test_tv, y_test)

0.953867192213329

실제 테스트

In [ ]:
reviews = ['아름다운 음악과 아름다운 풍광 그렇지 못한 현실이 찡하네요', '메세지의 작위성의 불협화음']

In [ ]:
reviews_tv = tvect.transform(reviews)
nb.predict(reviews_tv)

array([1, 0], dtype=int64)