In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
input_file = 'pima-indians-diabetes-1.csv'

Matplotlib is building the font cache; this may take a moment.

In [21]:
indian = pd.read_csv(input_file, skiprows = None)
indian['variable'] = indian.variable
indian.tail()

,Number,Plasmatolerance,blood,skinfold,insulin,Body,Diabetes,Age,variable
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [3]:
indian.variable.value_counts()

0    500
1    268
Name: variable, dtype: int64

In [4]:
indian.variable.name

'variable'

In [24]:
indian2 = indian[['Number','Plasmatolerance', 'blood', 'skinfold', 'insulin', 'Body', 'Diabetes', 'Age']]
indian2

     Number  Plasmatolerance  blood  skinfold  insulin  Body  Diabetes  Age
0         6              148     72        35        0  33.6     0.627   50
1         1               85     66        29        0  26.6     0.351   31
2         8              183     64         0        0  23.3     0.672   32
3         1               89     66        23       94  28.1     0.167   21
4         0              137     40        35      168  43.1     2.288   33
..      ...              ...    ...       ...      ...   ...       ...  ...
763      10              101     76        48      180  32.9     0.171   63
764       2              122     70        27        0  36.8     0.340   27
765       5              121     72        23      112  26.2     0.245   30
766       1              126     60         0        0  30.1     0.349   47
767       1               93     70        31        0  30.4     0.315   23

[768 rows x 8 columns]

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    indian2, indian.variable, stratify=indian.variable, random_state=2021
)

In [26]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((576, 8), (192, 8), (576,), (192,))

In [27]:
from sklearn.tree import DecisionTreeClassifier
dtc= DecisionTreeClassifier(random_state=2021) 
dtc.get_params()

{'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'random_state': 2021,
 'splitter': 'best'}

In [28]:
dtc.fit(X_train, y_train)

DecisionTreeClassifier(random_state=2021)

In [29]:
pred = dtc.predict(X_test)

In [30]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.7395833333333334

In [31]:
dtc.score(X_test, y_test)

0.7395833333333334

In [32]:
dtc.score(X_test, y_test)

0.7395833333333334

In [33]:
from sklearn.model_selection import GridSearchCV

In [34]:
params ={
    'max_depth' : [2, 3, 4, 5, 6],
    'min_samples_split':[2, 3, 4]
}

In [35]:
grid_dt = GridSearchCV(dtc, param_grid=params, scoring='accuracy', cv=3)
grid_dt.fit(X_train, y_train)

GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=2021),
             param_grid={'max_depth': [2, 3, 4, 5, 6],
                         'min_samples_split': [2, 3, 4]},
             scoring='accuracy')

In [36]:
grid_dt.best_score_

0.7291666666666666

In [37]:
grid_dt.best_params_

{'max_depth': 3, 'min_samples_split': 2}

In [38]:
best_dt = grid_dt.best_estimator_

In [39]:
best_dt.score(X_test, y_test)

0.7239583333333334